* {
    padding: 0;
    margin: 0;
}

@font-face {
    src: url(../fonts/arial.ttf);
    font-family: "Arial";
}

@font-face {
    src: url(../fonts/uvnkieu_b.ttf);
    font-family: "UVN";
}

@font-face {
    src: url(../fonts/Myriad\ Pro\ Regular.ttf);
    font-family: "MYRIADPRO";
}

@font-face {
    src: url(../fonts/Roboto-Bold.ttf);
    font-family: "Roboto";
}

:root {
    --primary-color: #ffb628;
}
.breadcrumb{
   margin: 10px 0;;
}
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    font-family: "Roboto";
   
  }
ul.breadcrumb{
    background-color: #fff;
    padding: 0.74rem 0px;
}
  ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: var(--primary-color);
    text-decoration: none;
  }
  ul.breadcrumb li+li:before {
    padding: 4px;
    color: black;
    content: ">\00a0";
  }
  .content_bg {
      width:100%;
        position: relative !important;
  }
  .content_bg a img{
      width: 100%;
      transition: transform 2s;
  }
  .content_bg{
      overflow: hidden;
  }
  .content_bg a img:hover{
    transform: scale(1.1);
  }
  .form_new{
    margin-top:0px;
  }
  /* .quote{
      position:absolute;
      bottom: 10px;
      padding: 0 10px;
      z-index: 1;
  } */
  .quote{
    display: block;
    height: 25%;
    content: "";
    background: #000000a8;
    position: absolute;
    bottom: 0;
    z-index:1;
    opacity: 70%;
  }
  .quote h3{
      color:#ffb628;
      font-family: "MYRIADPRO";
      font-size: 18px;
  }
  .quote p{
      color:#fff;
      font-family: "Arial";
      font-size: 14px;
      padding-top: 10px;
      line-height: 20px;
  }
  .quote-text{
      margin:15px;
  }
  .new_item{
      display:flex;
      padding: 10px 5px;
  }
  .new_item .item_img img{
      width: 100%;

  }
  .item_text{
      padding-left:2%;
      padding-bottom: 0;
  }
  .hot_news a{
      text-decoration: none;

  }
  .hot_news a:hover{
      color:var(--primary-color);
  }
  .hot_news a .new_item .item_text h3{
      color: #fff;
      
  }
  .hot_news a .new_item .item_text h3:hover{
      transition:1s ;
      color: var(--primary-color);
  }
  .hot_news a .new_item .item_text p{
      color: #999999;
      font-size: 14px;
      margin-top: 3px;
      
  }
  .hot_news a .new_item .item_text{
      padding-left: 10px
  }
  .item_img img{
    transition: transform 2s;
  }
  .item_img img:hover{
    transform: scale(1.1);
  }
.new_item{
    display:flex
}
.item_img{
    width: 50%;
}
  .content_news_flex{
      display:flex;
      margin-top: 3%;
      margin-bottom: 3%;
      cursor: pointer;
  }
  
  .img-news img{
    transition: transform 3s;  }
    .img-news img:hover{
        transform: scale(1.1);
    }
  .heading_news{
      font-family: "UVN";
      font-size:3.6rem;
      color: #7b0200;
      margin-bottom: -25px;
  }
  .heading_text{
    color: #7b0200;
    font-family: "Roboto";
    font-size: 18px;
  }
  .heading_text:hover{
      color: var(--primary-color);
      transition: 1s;
  }
 .text-news{
     margin-left: 34px;
 }
  .area{
     float:right;
     color: #999999;
     font-family: "Arial";
     font-style: italic;
 }
 .text__content{
     font-size: 14px;
     font-family: "Arial";
     color: #999999;
     padding-top: 10px;
 }
 .date__time{
     margin-top: 10px;
     font-size: 14px;
     color: #999999;
 }
 .rate_star i{
     font-size: 14px;
 }
 .rate_area{
     margin:15px 0;
 }
 .pagination li{
     margin-top: 3%;
     border: 1px solid #fff;
     margin-left: 5px;
 }
 .pagination li a{
text-decoration: none;
color:var(--primary-color);
background-color: #7b0200;
 }
 .pagination li a:hover{
     color:var(--primary-color);
 }